* {
	margin: 0;
	padding: 0;
	color: #000;
}

a {
	color: #999;
	text-decoration: none;
}

ul {
	list-style: none;
}

header {
	background-color: #f5f5f5;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
}

.w1200 {
	width: 1200px;
	margin: 0 auto;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.fr a {
	margin: 0 10px;
	color: #666;
	font-size: 14px;
}

nav {
	height: 100px;
	line-height: 100px;
}

nav a img {
	height: 70px;
	margin-top: 15px;
}

nav ul {
	float: right;
}

nav ul li {
	float: left;
	margin: 0 10px;
}

nav ul li a {
	color: #000;
	font-size: 15px;
}

nav ul li a:hover {
	color: #ef8200;
}

.banner {
	height: 500px;
	background: url(../img/neibanner.jpg);
	position: relative;
}

.container {
	position: absolute;
	right: 120px;
	top: 80px;
	width: 300px;
	height: 320px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 2px 2px 2px 0px #333;
}

.title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	padding: 10px 0;
}

.banner form {
	padding: 10px 20px;
}

.form-group {
	display: block;
	margin: 5px 0;
}

.form-input {
	height: 30px;
	width: 80%;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	outline: none;
}

.form-p {
	font-size: 14px;
	color: #ccc;
	cursor: pointer;
}

#form-p {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

form div {
	padding: 5px 0px;
}

#form-button {
	width: 90%;
	height: 40px;
	background-color: #66a3ff;
	border: none;
	margin: 10px;
	color: #ffffff;
}

a .form-p {
	margin-left: 20px;
}

.breadcrumb {
	padding: 30px 0 30px 0;
	font-size: 微软软黑;
}

.breadcrumb span img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.breadcrumb span {
	color: #333;
	font-size: 14px;
	font-family: 微软软黑;
	display: inline-block;
	margin: 0 5px;
	cursor: pointer;
}

.breadcrumb span.on {
	color: #ef8200;
}

.divide {
	background: #f5f5f5;
	line-height: 50px;
	margin: 0 0 30px 0;
}

.divide span {
	display: inline-block;
	height: 50px;
	padding: 0 25px;
	cursor: pointer;
	font-size: 14px;
	color: #333;
	transition: all 0.6s;
}

.divide span.on,
.divide span:hover {
	background: #ef8200;
	color: #fff;
}

.casepage ul .p1 {
	font-size: 16px;
	color: #000;
	padding: 5px 0;
	transition: all 0.6s;
}

.casepage ul .p2 {
	font-size: 14px;
	color: #666;
}

.casepage ul li {
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
	transition: all 0.6s;
	box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.1);
}

.casepage ul li .caset,
.casepage ul li .caset img {
	display: block;
	width: 260px;
	overflow: hidden;
	transition: all 0.6s;
}

.casepage ul {
	margin-right: -25px;
}

.casepage ul li .caset:hover img {
	transform: scale(1, 1);
}

.casepage ul li .casec {
	padding: 0 10px 10px 10px;
}

.casepage ul li .casec:hover .p1 {
	color: #ef8200;
}

.fenye {
	text-align: center;
	padding: 30px 0 50px 0;
}

.fenye a {
	display: inline-block;
	padding: 0 20px;
	height: 40px;
	border: 1px solid #eee;
	background: #fff;
	color: #f5f5f5;
	line-height: 40px;
	text-align: center;
	transition: all ls;
	margin: 0 5px;
}

.fenye span {
	display: inline-block;
	padding: 0 20px;
	height: 40px;
	border: 1px solid #eee;
	background: #ff551d;
	color: #fff;
	cursor: pointer;
	line-height: 40px;
	text-align: center;
	transition: all ls;
	margin: 0 5px;
}

.fenye a:hover,
.fenye a.on {
	background: #ef8200;
	color: #fff;
	cursor: pointer;
}